body {
    font-family: Arial, sans-serif;
    padding-top: 10%;
    background-color: #9090A5;
}

th.des:after{
    content: "\21E9";
}

th.aes:after{
    content: "\21E7";
}

table{
    width:100%;
}

.container {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 100%;
    border: solid  white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);

}

#navbar{
    background-color: #9090A5 !important;
    background-color: rgb(48,67,82, 0.5) !important;
}

#navbar:hover{
    background-color: #304352 !important;
}

#svg{
    width: 30px;
    height: 30px;
    visibility: hidden;
}

#map{
    position: relative;
    padding-bottom:40%;
}

.form-control{
    color: #9090A5;
    border-width: 2px 0px 3px 0px;
    border-style: solid;
    border-color: #9090A5;
    margin-top: 3px;
}

button {
    background-color: #F61067;
    margin: 2px;
    color:white;
}

.selected{
    background:#2AD392;
    border: solid #F61067;
}

.purple-bg{
    background-color: #13124F;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.grey-bg{
    background-color: #9090A5;
}

.blue-bg{
    background-color: #352BA5;
    color:white;
}

.green-bg{
    background-color: #2AD392;
}
